#pragma code_page(65001)
#include <windows.h>

// 应用程序图标
MAINICON ICON "../JeriBot_Icon.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 26,5,16,0
 PRODUCTVERSION 26,5,16,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404B0"
        BEGIN
            VALUE "CompanyName", "重庆沛雨霖科技有限公司"
            VALUE "FileDescription", "杰睿 JeriBot"
            VALUE "FileVersion", "260516"
            VALUE "InternalName", "JeriBot"
            VALUE "LegalCopyright", "重庆沛雨霖科技有限公司"
            VALUE "OriginalFilename", "JeriBot.exe"
            VALUE "ProductName", "杰睿 JeriBot"
            VALUE "ProductVersion", "260516"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
